.list-pokemon {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 100px auto;
}

.search {
    display: block;
    width: 70vh;
    padding: 15px;
    margin: 50px auto;
    font-size: 1rem;
    box-shadow: 3px 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.info {
    text-align: center;
    margin: 20px auto;
    font-size: 1.2rem;
    color: #333;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .search {
        width: 90vw;
        font-size: 0.9rem;
        margin: 30px auto;
    }

    .list-pokemon {
        margin: 50px auto;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .search {
        width: 95vw;
        font-size: 0.8rem;
        padding: 10px;
        margin: 20px auto;
    }

    .list-pokemon {
        gap: 10px;
    }
}